<div><p style="font-size: 24px; margin-left: 4%;">HISTORIQUES</p></div>
<div  style=" height: 60px; margin-left: 5%; background-color: #D9D9D9; border-radius: 10px; width: 90%; display: flex; justify-content: center;">
<p style="padding: 15px;">HISTORIQUES</p>
</div>

<div class="container ">
  <form class="form-inline my-2 my-lg-3 row " >
   <div class="d-flex gap-1">
     <input *ngIf="show" style="width: 30%;" id="search" class="form-control" type="date" name="search" placeholder="Rechercher" [(ngModel)]="searchText">
     <button class="btn btn-outline-primary" (click)="afficher()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></button>
   </div>
 </form>
<table class="table table-bordered rounded-3">

 <thead style="height: 20px; background-color: #477AFD;">
   <tr>
     <th scope="col"><p class="text-white" style="text-align: center; font-size: 24px;">DATE</p></th>
     <!-- <th scope="col">Heure</th> -->
     <th scope="col"><i class="bi bi-thermometer-half "></i><p class="text-white" style="text-align: center; font-size: 24px;">BOUTEILLE 100ML</p></th>
     <th scope="col"> <i class="bi bi-cloud-rain "></i> <p class="text-white" style="text-align: center; font-size: 24px;"> BOUTEILLE 200ML</p></th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <!-- <th rowspan="3" scope="row" class="text-center">Temperature en °C</th> -->
     <td><p style="text-align: center; font-size: 24px;" >22/03/2023</p> </td>
     <td><p style="text-align: center; font-size: 24px; " >50</p></td>
     <td><p style="text-align: center; font-size: 24px;" >80</p></td>
   </tr>

 </tbody>
</table>
</div>

<div class="mt-8 py-5 ">
 <div class="pagination fixed-bottom justify-content-center ">
   <pagination-controls (pageChange)="p = $event"></pagination-controls>
 </div>
</div>
