<!-- Section: Design Block -->
<div><p style="font-size: 24px;  padding: 1%; margin-left: 4%;">MODIFICATION MOT DE PASSE</p></div>
<div  style=" height: 60px; margin-left: 5%; background-color: #D9D9D9; border-radius: 10px; width: 90%; display: flex; justify-content: center;">
<p style="padding: 15px;">MODIFICATION MOT DE PASSE</p>
</div>
<section class="contenaire" style="margin-top: 10%; margin-left:35% ;" >
    <!-- Jumbotron -->

          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5"  style="background-color: #508bfc;">
                <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="form-outline mb-4 text-white">
                    <label class="form-label" for="form3Example3">Actuelpassword</label>
                    <input type="password" id="form3Example3" class="form-control"
                    placeholder="actuelpassword" minlength="6"
                    formControlName="actuelpassword" />

                  </div>
                  <div *ngIf="  registerForm.controls['actuelpassword'].dirty  && registerForm.controls['actuelpassword'].errors"class="text-danger" >
                    <p *ngIf=" registerForm.controls['actuelpassword'].errors['required']"
                    class="text-red-500 mb-2 text-xs font-sans">
                Champ Vide        </p>
                  <p *ngIf="registerForm.controls['actuelpassword'].errors['minlength']"
                    class="text-red-500 text-xs font-sans">
                    Minimum 6 caractères
                  </p>

                  </div>
                  <!-- Email input -->
                  <div class="form-outline mb-4 text-white">
                    <label class="form-label" for="form3Example3">Newpassword</label>
                    <input type="password" id="form3Example3" class="form-control"
                    placeholder="newpassword" minlength="6"
                    formControlName="newpassword"/>

                  </div>
                  <div *ngIf="  registerForm.controls['newpassword'].dirty  && registerForm.controls['newpassword'].errors"class="text-danger" >
                    <p *ngIf=" registerForm.controls['newpassword'].errors['required']"
                    class="text-red-500 mb-2 text-xs font-sans">
                Champ Vide        </p>
                  <p *ngIf="registerForm.controls['newpassword'].errors['minlength']"
                    class="text-red-500 text-xs font-sans">
                    Minimum 6 caractères
                  </p>

                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4 text-white">
                    <label class="form-label" for="form3Example3">Confirmation</label>
                    <input type="password" id="form3Example4" class="form-control"
                    placeholder="confirmation" minlength="6"
                    formControlName="confirmation" />

                  </div>

                  <div *ngIf=" registerForm.controls['confirmation'].dirty  && registerForm.controls['confirmation'].errors"class="text-danger" >
                    <p *ngIf=" registerForm.controls['confirmation'].errors['required']"
                    class="text-red-500 mb-2 text-xs font-sans">
                Champ Vide        </p>
                  <p *ngIf="registerForm.controls['confirmation'].errors['minlength']"
                    class="text-red-500 text-xs font-sans">
                    Minimum 6 caractères
                  </p>

                  </div>
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">

                  </div>

                  <!-- Submit button -->

                  <button type="submit" class="btn btn-dark btn-block mb-4">
                   Modifier
                  </button>

                  <button type="submit" class="btn btn-success btn-block mb-4" style="margin-left: 83%;margin-top: -20%;">
                    Retour
                  </button>

                </form>
              </div>
            </div>
          </div>


    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
